
body {
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.container {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #4267B2;
    color: black;
    height: 110px;
    padding-left: 0;
    display: flex;
}
#header-h1 {
    width: 200px;
    margin: 0;
    color: white;
    position: relative;
    left: 130px;
    top: 10px;
}
#header-right {
    float: right;
    padding-right: 100px;
    margin-left: 750px;
    padding-top: 10px;
    max-width: 1440px;
}
.forget {
    color: white;
    padding-left: 10px;
}
header table,td,th {
    color: white;
    font-size: 15px;
}
.header-right td {
    color: "fff";

}
.header button {
    border: 1px white solid;
    background-color: #4267B2;
    color: white;
    width: 70px;
    position: relative;
    top: 9px;
}
.main {
    background-color: #E9EBEE;
    padding: 10px 0 0 120px;
    height: 630px;
    display: flex
}
#section {
    width: 550px;
    margin-right: 0;
}
.main p {
    margin: 0;
}
#name {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}
.surname {
    position: relative;
    right: 200px;
}
.date {
    border-radius: 4px;
    width: 150px;
    height: 30px;
    border: none;
}
#info {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}
#creat {
    position: relative;
    left: 130px;
}
.creat h1 {
    margin-top: 0;
}
.creat p {
    font-size: 15px;
}
button {
    background-color:green;
    color: #fff;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-size: 13px;
    margin-bottom: 20px;
}
.footer p {
    font-size: 10px;
    margin-top: 20px;
}